# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Write value to Properties-file
        uses: christian-draeger/write-properties@1.1.0
        with:
          path: './src/main/resources/prod.properties'
          property: |
            'spring.data.mongodb.uri'
            'account.mnemonic'
            'blockfrost.project_key'
            'nft.storage.api_key'
            'wallet.url'
            'wallet.walletId'
            'wallet.passphrase'
            'email.fromaddress'
            'spring.mail.host'
            'spring.mail.username'
            'spring.mail.password'
          value: |
            '$System.env.MONGO_URI'
            '$System.env.ACC_MNEMONIC'
            '$System.env.BLOCKFROST_KEY'
            '$System.env.NFTSTORAGE_KEY'
            '$System.env.WALLET_URL'
            '$System.env.WALLET_ID'
            '$System.env.WALLET_PASSWORD'
            '$System.env.EMAIL_FROMADDR'
            '$System.env.MAIL_HOST'
            '$System.env.MAIL_USERNAME'
            '$System.env.MAIL_PASSWORD'
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Rename properties files
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: renamePropertiesFile

      - name: Generate CardanoWallet
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: generateSwaggerCodeCardanowallet

      - name: Build CardanoWallet
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: -p build/swagger-code-cardanowallet jar

      - name: Build Project
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: bootBuildImage

      - name: Push Docker
        run: docker push ghcr.io/${{ github.actor }}/nftapi:latest
